@font-face {
	src: url('../gfx/BoogieNightsShadowNF.ttf');
	font-family: 'boogie';
}
@font-face {
	src: url('../gfx/FuturaStd-Bold.otf');
	font-family: 'futurabd';
}
@font-face {
	src: url('../gfx/FuturaStd-Book.otf');
	font-family: 'futurabk';
}
@font-face {
	src: url('../gfx/FuturaStd-Light.otf');
	font-family: 'futuralt';
}

%header1 {
	font-family: $futuraBold;
	color: $headerGrey;
}
%header2 {
	font-family: $futuraBold;
	font-style: italic;
	font-weight: bold;
	color: $textWhite;
}
h1 {
	@extend %header1;
	font-size: 48px;
	line-height: 48px;
}
h2 {
	@extend %header1;
	font-size: 36px;
	line-height: 36px;
}
h3 {
	@extend %header2;
	font-size: 24px;
	line-height: 24px;
}
h4, h5, h6 {
	@extend %header2;
	font-size: 18px;
	line-height: 18px;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: $textWhite;
	margin-bottom: 21px;
}

a {
	&, &:visited {
		color: $lightBlue;
		text-decoration: none;
	}
	&:hover {
		color: $lightBlue;
	}
	&:active, &:focus {
		color: $lightBlue;
		text-decoration: underline;
	}
}

ul li, ol li {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: $textWhite;
	margin-bottom: 21px;
}

.blue {
	color: $lightBlue;
}