<section class="container" id="about-container">
	<div id="about-header" class="section-header">
		<div class="one-third column alpha"><div></div></div>
		<div class="one-third column title"><h2>ABOUT</h2></div>
		<div class="one-third column omega"><div></div></div>
	</div>
	<blockquote>{{#jsonParse pitch}}{{/jsonParse}}</blockquote>
</section>