<div class="sixteen columns window-gallery collapsed">
	<nav class="sixteen columns alpha omega">
		<ol class="window-gallery-nav">
			<% _.each(gallery, function(galItem){ %>
			<li class="gallery-nav-item three columns">
				<a class="gallery-nav-link" href="/assets/images/<%= galItem.fullRes %>" target="_blank">
					<img src="/assets/images/<%= galItem.thumb %>">
				</a>
			</li>
			<% }); %>
		</ol>
		<i class="scrollThumbsBut Left"></i>
		<i class="scrollThumbsBut Right"></i>
	</nav>

	<div class="window-gallery-slides sixteen columns alpha omega"></div>
</div>