.nav-item {
	float: left;
	margin-top: 6px;
	text-align: center;
	background-color: $grayLight;
	box-shadow: 3px 3px 0px 0px #000000;
	-webkit-box-shadow: 3px 3px 0px 0px #000000;
	transition: .5s;
}

.nav-link {
	margin: 3px;
	display: block;
	width: auto;
	padding-top: 5px;
	
	&,
	%btn-BG { // box model
		box-shadow: 0 0 2px 0px #000000 inset;
		-webkit-box-shadow: 0 0 2px 0px #000000 inset;

		background: #3d95c6; // Old browsers	
		background-image: url(../images/navaBG.jpg);
		background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* W3C */
		background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,   rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* FF3.6+ */
		background-image: url("../images/navaBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.33))); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* Chrome10+,Safari5.1+ */
		// background-image: -o-linear-gradient(top,  rgba(0,0,0,0 0%) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* Opera 11.10+ */
		background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* IE10+ */
		background-image: url("../images/navaBG.jpg")\9;

		&:hover {
			background: #3d95c6; /* Old browsers */	
			background-image: url(../images/navaBG.jpg);
			background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* W3C */
			background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,   rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* FF3.6+ */
			background-image: url("../images/navaBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.15))); /* Chrome,Safari4+ */
			background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* Chrome10+,Safari5.1+ */
			// background-image: -o-linear-gradient(top,  rgba(0,0,0,0 0%) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* Opera 11.10+ */
			background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* IE10+ */
			background-image: url("../images/navaBG.jpg")\9;
		}
	}

	&,
	%btn-txt {
		font-family: 'futurabk', 'Rockwell Light', Georgia, Times, serif;
		color: #FFFFFF;
		font-size: 21px;
		line-height: 36px;
		text-shadow: -1px -1px #595959;
		-webkit-text-shadow: -1px -1px #595959;
	}
}

.nav-list {
	list-style: none;
	display: block;
	float: left;
	transition: float .5s;
	-webkit-transition: float .5s;

	.stickToTop & {
		margin-bottom: 0;
		float: right;
	}
}

.sitewide-nav {

	&.stickToTop {
		position: fixed;
		top: 0px;	
		z-index: 100;
		display: block;
		background-color: #000000;
		background-color: rgba(0,0,0,0.75);
		margin-left: -15px;
		padding: 6px 15px;
	}
}

// end refactored work

#header-container.container .sitewide-nav li.one-third.column {
	width: 300px;
	margin-top: 30px;
	margin-bottom: 34px;
	transition: all .5s;
	-webkit-transition: width .5s;
}
@media only screen and (max-width: 959px) {
	#header-container.container .sitewide-nav li.one-third.column {
		width: 236px;
	}
}
#header-container.container .sitewide-nav li.one-third.column.alpha {
	transition: padding-left .5s;
	-webkit-transition: padding-left .5s;
}

/* section#header-container.container .sitewide-nav li.now */
#header-container.container .sitewide-nav.stickToTop li.one-third.column {
	width: 220px !important;
}
@media only screen and (max-width: 959px) {
	#header-container.container .sitewide-nav.stickToTop li.one-third.column {
		width: 172px !important;
	}
}
.sitewide-nav li.logo  {
	position: absolute;
	display: block;
	left: -999px;
	transition: left .5s;
	margin: 0;
}
.sitewide-nav li.logo > a#stt-logo {
	height: 112px;
	width: 190px;
	background: transparent url(../images/StickToTopLogo.png) center left no-repeat scroll;
	position: absolute;
	margin: 0;
	padding: 0;	
}
.sitewide-nav li.logo > a#stt-logo > span {
	opacity:0;
}
.sitewide-nav.stickToTop li.logo {
	left: 15px;
}
.sitewide-nav.stickToTop li.logo > a#stt-logo {
	opacity: .7;

}
.sitewide-nav.stickToTop li.logo > a#stt-logo > span {

}
@media only screen and (max-width: 767px) {
	.sitewide-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	li.logo {
		display: none !important;
	}
	#header-container.container .sitewide-nav li.one-third.column,
	#header-container.container .sitewide-nav.stickToTop li.one-third.column {
		width: 33% !important;
		background: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		margin: 12px 0;
	}
	.sitewide-nav > nav > ul > li > a {
		background: none !important;
		box-shadow: none;
		-webkit-box-shadow: none;
		line-height: 21px;
		margin: 0;
		padding-top: 0;
	}
	.sitewide-nav > nav > ul > li > a:hover{
		text-decoration: underline;
	}
	.sitewide-nav ul {
		width: 100%;
	}
	#logo-container {
		margin-top: 45px;
		&.bufferBottom {
			margin-bottom: 131px;
		}
	}
	#header-container {
		z-index: 1000;
	}
}