<html>
<head>
	<!-- <link rel="stylesheet" href="style.css"/> -->
	<title>cKelly Design, LLC</title>
	<link rel="stylesheet" href="/assets/styles/appStyles.css"/>
    <script type="text/javascript" src="/assets/scripts/appScripts.js"></script>

</head>
<body>

	<div id="star-paralax">
		<img id="stars" src="/assets/images/GeminiStars2.svg">
		<img id="const" src="/assets/images/Gemini.svg">
	</div>

	{{> header}}

	{{#with model.About}}
		{{> about}}
		{{> highlights}}
	{{/with}}

	{{> projects-gallery}}

	{{#with model.Contact}}
		{{> contact}}
	{{/with}}
	<div id='project-window-overlay' style="display:none"></div>
	<article class='container project-window fancy-article' style="display:none"></article>
</body>
</html>